* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
general 
-------
*/
body {
  background: url(../image/2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.container {
  display: flex;
  gap: 30px ;
  margin-right: 10px;
  margin-left: 10px;
  background: transparent;

}

h1 {
  font-size: 24px;
  font-weight: 300;
}

p {
  margin: 0 0 15px;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #4ac7be;
  background: transparent;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  transition: border 0.3s linear;
}

input[type="text"]:focus {
  border-color: black;
  outline: none;
}
#add-card{
  margin:20px 0px 0px 30px;
}

#add-card-text {
  border: none;
  border-bottom: 2px solid #4ac7be;
  font-size: 1em;
  width: 15rem;
  background-color: transparent;
}

.btn-primary,
.btn-primary-f {
  background: #4ac7be;
  border: none;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
}
.btn-primary-f {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-primary:hover,
.btn-primary-f:hover {
  background: #097fb7;
}

.btn-primary:focus,
.btn-primary-f:focus {
  outline: none;
}

.btn-icon {
  background: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  color: #333;
  cursor: pointer;
  transition: background 0.3s linear, color 0.3s linear;
}

.btn-icon:focus {
  outline: none;
}

.btn-icon:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.btn-icon.remove:before {
  content: "\f2ed";
}

.btn-icon.down:before {
  content: "\f063";
}

.btn-icon.up:before {
  content: "\f062";
}

/* 
todo block 
----------
*/
.todoBlock {
  padding: 30px;
  margin: 30px 0;
  background: #e7edf6a7;
  box-shadow: 3px 3px 3px rgb(17 17 17 / 15%);
  width: 500px;
}

.todoBlock .titleHolder {
  position: relative;
  margin: 0 0 30px;
}

#del-all {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0;
  top: 0;
  cursor: pointer;
}
#del-all:hover {
  color: #097fb7;
}
/* 
list holder
-----------
*/

.listHolder li {
  counter-increment: step-counter;
  overflow: hidden;
  padding: 0 0 20px 30px;
  position: relative;
}

.listHolder li:before {
  content: counter(step-counter);
  background: #4ac7be;
  color: #fff;
  font-size: 14px;
  padding: 0px 6px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.listHolder .listName {
  float: left;
}

.listHolder .btn-icon {
  float: right;
  margin: 0 0 0 20px;
}

/* 
form holder
-----------
*/
.formHolder {
  /* display: flex; */
  margin: 0 -5px;
  overflow: hidden;
  position: relative;
}

.formHolder .col {
  float: left;
  width: 20%;
  padding: 0 5px;
}

.formHolder .col.big {
  width: 60%;
  height: 15px;
  display: flex;
  border: none;
}
